---
# Copyright (c) 2020 Contributors to Smart-Data-Models
# see https://github.com/smart-data-models/dataModel.PointOfInteraction


components: 
  schemas: 
    SmartPointOfInteraction: 
      $ref: "https://smart-data-models.github.io/dataModel.PointOfInteraction/SmartPointOfInteraction/model.yaml#/SmartPointOfInteraction"
info: 
  description: |
    This repository is going to be archived (Jan-2020) and subsequent works will be carried out in [Smart data models]
    (https://github.com/smart-data-models) repositories. Further questions on migration. alberto.abella@fiware.org
    As an alternative or extension to traditional interactive points (shopping malls, museums, airports, etc.), a Smart Point of Interaction use technologies such as Bluetooth Low Energy or Wi-Fi to bring new interactions to user's devices (smartphones, wearables, etc.).

    A smart point of interaction is composed mainly by two entities: "Smart Point of Interaction": defines an
    interactive point which provides information, entertainment or co-creation tools to citizens.
    Optionally it can reference a related smart city asset with enriched interaction provided by this technology.
    "Smart Spot": a set of resources related to a physical device and the technology to provide a Smart Point of Interaction.
  title: SmartPointOfInteraction
  version: "1.0.0"
openapi: "3.0.0"

# These paths are merely representative.
paths: 
  /ngsi-ld/v1/entities: 
    get: 
      description: "Retrieve a set of entities which matches a specific query from an NGSI-LD system"
      parameters: 
        - 
          in: query
          name: type
          required: true
          schema: 
            enum: 
              - SmartPointOfInteraction
            type: string
      responses: 
        ? "200"
        : 
          content: 
            application/ld+json: 
              examples: 
                keyvalues: 
                  summary: "Key-Values Pairs"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.PointOfInteraction/SmartPointOfInteraction/examples/example.json"
                normalized: 
                  summary: "Normalized NGSI-LD"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.PointOfInteraction/SmartPointOfInteraction/examples/example-normalized-ld.jsonld"
          description: OK
      tags: 
        - ngsi-ld
tags: 
  - 
    description: "NGSI-LD Linked-data Format"
    name: ngsi-ld
